In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import scipy as sc
import numpy as np
#hello

In [ ]:
file=open(r"C:\Users\Ishaan\Desktop\DataSet\Data.csv")
data=pd.read_csv(file)
states=np.sort(data["state"].unique().astype(str))
stations=np.sort(data["station"].unique().astype(str))
Date=pd.to_datetime(data["Timestamp"])
data

,Timestamp,station,PM2.5,PM10,address,city,latitude,longitude,state
0,2017-01-01,"32Bungalows, Bhilai - CECB",NaN,NaN,"Bhilai RO Office, 5, 32 Bungalows, Bhilai, Dis...",Bhilai,21.194815,81.314770,Chhattisgarh
1,2017-01-01,"AIIMS, Raipur - CECB",NaN,NaN,"All India Institute Of Medical Science, Gate N...",Raipur,21.258815,81.578979,Chhattisgarh
2,2017-01-01,"Adarsh Nagar, Jaipur - RSPCB",NaN,NaN,"Psychiatric Centre, Janta Colony, Govind Marg,...",Jaipur,26.902909,75.836858,Rajasthan
3,2017-01-01,"Airoli, Navi Mumbai - MPCB",NaN,54.743723,NaN,Navi Mumbai,19.149400,72.998600,Maharashtra
4,2017-01-01,"Airport Area, Indore - IMC",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1627456,2024-12-10,"Worli, Mumbai - MPCB",54.71,124.420000,"89-B, NEERI Building, Dr. Annie Besant Road, W...",Mumbai,18.993616,72.812811,Maharashtra
1627457,2024-12-10,"Yamunapuram, Bulandshahr - UPPCB",53.23,101.340000,"F-5, Yamunapuram, Bulandshahr, Near MMR Mall (...",Bulandshahr,28.406963,77.849831,Uttar Pradesh
1627458,2024-12-10,"Yerramukkapalli, Kadapa - APPCB",75.00,110.750000,"Municipal Corporation Office Complex, Railway ...",Kadapa,14.465052,78.824187,Andhra Pradesh
1627459,2024-12-10,"Zero Point GICI, Gangtok - SSPCB",NaN,NaN,"Near State PWD Office, Zero Point, Gangtok, Si...",Gangtok,27.338530,88.614099,Sikkim
1627460,2024-12-10,"Zoo Park, Hyderabad - TSPCB",72.83,176.480000,NaN,Hyderabad,17.349694,78.451437,Telangana

# Spatial Aggregation

In [ ]:
maxIdx=data.groupby("state")["PM2.5"].mean().argmax()

str(states[maxIdx])

'Delhi'

In [ ]:
mask=Date.dt.year==2023
mask2=data[mask]["PM2.5"]>300

maxIdx=data[mask&mask2].groupby("state")["PM2.5"].count().argmax()
str(states[maxIdx])

'Bihar'

In [ ]:
maxIdx=data.groupby("state")["PM2.5"].std().argmax()
str(states[maxIdx])

'Delhi'

In [ ]:
mask=np.array(Date.dt.year==2021 )|np.array(Date.dt.year==2020)
minArg=data[mask].groupby("state")["PM2.5"].mean().argmin()
str(states[minArg])

'Mizoram'

# Temporal Agggregation

In [ ]:
mask= np.array(Date.dt.month==8) & np.array(Date.dt.year==2020)
naMask=data[mask]["PM2.5"].isna()
data[mask][naMask]=0
maxArg=data[mask]["PM2.5"].argmax()
data["PM2.5"][maxArg]

C:\Users\Ishaan\AppData\Local\Temp\ipykernel_50796\1690686596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[mask][naMask]=0

np.float64(nan)